<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
    
</head>
<body>
   {{>navbar}}

   <!-- main header -->
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side -->

              <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                  <img src="images/shadow.png" alt="about" class="img-fluid" tittle="sachin web">
                </figure>
                  
              </div>
              <!-- right side -->
              
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to about page</p>
                    <h1>Now you are <span class="text_clr">communicating</span> to the owner</h1>
                    <a href="https://manhareducation.netlify.app/"><button>about me</button></a>

                </div>
                <!-- right side -->
                
            </div>

        </div>
     </div>
</div>

<!-- footer -->
{{>footer}}

</body>
</html>